html, body, #container {
    top:0;
    bottom:0;
    left:0;
    right:0;

    position:absolute
}

body {/*Main body element*/
    background-color: #000000;
    margin: 0px;
    font-family:Calibri;

    overflow:hidden;

    top:0;
    bottom:0;
}

h1 {
    font-size:xx-large;
}
h2 {
    font-size:x-large;
}

h3 {
    font-size:large;
}

h4 {
    font-size:medium;
}

h5 {
    font-size:small;
}

h6 {
    font-size:x-small;
}

a, a:visited {
    color:#1FAEFF;
}

.tableHeader-emphasized {
    font-weight:900 !important; 
    text-align:center !important;
}

#container {/*Three.js renderer container*/
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*button{
    font-size:larger;
    background-color:#BBBBBB;
    border:solid 1px black;
    border-radius:3px;
}

button:hover{
    background-color:#909090;
}

button:active{
    background-color:#707070;
}*/

#dataBoxContainer {
    /*vertical-align: bottom;*/
    margin-right: 150px;
    top: 30%;
    position: fixed;
    height: 100px;
    width: 100%;

    pointer-events:none;
}

#dataBox {
    /*position:static;*/
    /*bottom:300px;
    right:500px;*/
    float: right;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 20px;

    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: 0px;

    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 20px;

    height: 100px;
    width: 0px;

    text-align: center;
}

.dataBox-extended {
    height: 140px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 150px;
}

#dataBox-inner {
    width:150px;
    display:none;
}

#selectedName {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#selectedInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#helpDialog { /*JQuery UI dialog for displaying help content*/
    width: 500px;
    height: 1000px;
}

#helpDialog table {/*Table that contains the Census variables and their descriptions*/
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
    margin-bottom:30px;
}

#helpDialog table td, #helpDialog table th {/*Each cell in helpDialogs table*/
	border-top-color: white;
    
    border: 1px solid rgba(223,223,223,0.75);
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}

#helpDialog table th {/*Each header cell in helpDialogs table*/
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
#helpDialog table td {/*Each normal cell in helpDialogs table*/
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
    border: 1px solid #DFDFDF;
}

#fps{/*FPS counter*/
    color:white;
    width:100px;
    height:37px;
    position:fixed;
    text-align:left;
    vertical-align:bottom;
    font-size:2em;
    font-family:Calibri;
    bottom:0px; left:0px;
}

.code {/*Code style*/
    background-color:rgba(223,223,223,0.75);
    font-family:Consolas;
    display:inline;
    padding:2px;
}

#controlContainer {
    position:fixed;
    height:32px;
    width:100%;
    background-color:lightgray;
    border-top: 3px solid #666;
}

#mathBox { /*Data expression input box*/
    margin: 5px;
    float: left;
    width:99%;
    font-family:Consolas;
    
    /*transition-duration:0.5s;
}

#mathBox:focus {
    width:99%;*/
}

#geoType { /*Drop-down menu for geoType selection*/
    margin: 5px;
    float: left;
    width: 120px;
    height:22px;
}

#mathSubmit { /*Button for reloading the map*/
    margin: 5px;
    float: left;
    height: 22px;
    width:22px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve">	<path fill="black" fill-opacity="1" stroke-width="0.4" stroke-linejoin="round" d="M 38,20.5833C 42.9908,20.5833 47.4912,22.6825 50.6667,26.046L 50.6667,17.4167L 55.4166,22.1667L 55.4167,34.8333L 42.75,34.8333L 38,30.0833L 46.8512,30.0833C 44.6768,27.6539 41.517,26.125 38,26.125C 31.9785,26.125 27.0037,30.6068 26.2296,36.4167L 20.6543,36.4167C 21.4543,27.5397 28.9148,20.5833 38,20.5833 Z M 38,49.875C 44.0215,49.875 48.9963,45.3932 49.7703,39.5833L 55.3457,39.5833C 54.5457,48.4603 47.0852,55.4167 38,55.4167C 33.0092,55.4167 28.5088,53.3175 25.3333,49.954L 25.3333,58.5833L 20.5833,53.8333L 20.5833,41.1667L 33.25,41.1667L 38,45.9167L 29.1487,45.9167C 31.3231,48.3461 34.483,49.875 38,49.875 Z "/></svg>');
    background-size: 170%;
    background-position: center;
}

    #mathSubmit:hover {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve">	<path fill="gray" fill-opacity="1" stroke-width="0.4" stroke-linejoin="round" d="M 38,20.5833C 42.9908,20.5833 47.4912,22.6825 50.6667,26.046L 50.6667,17.4167L 55.4166,22.1667L 55.4167,34.8333L 42.75,34.8333L 38,30.0833L 46.8512,30.0833C 44.6768,27.6539 41.517,26.125 38,26.125C 31.9785,26.125 27.0037,30.6068 26.2296,36.4167L 20.6543,36.4167C 21.4543,27.5397 28.9148,20.5833 38,20.5833 Z M 38,49.875C 44.0215,49.875 48.9963,45.3932 49.7703,39.5833L 55.3457,39.5833C 54.5457,48.4603 47.0852,55.4167 38,55.4167C 33.0092,55.4167 28.5088,53.3175 25.3333,49.954L 25.3333,58.5833L 20.5833,53.8333L 20.5833,41.1667L 33.25,41.1667L 38,45.9167L 29.1487,45.9167C 31.3231,48.3461 34.483,49.875 38,49.875 Z "/></svg>');
    }

#helpButton { /*Button to open the help dialog*/
    margin: 5px;
    float: left;
    height:22px;
    width:22px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve">	<path fill="black" fill-opacity="1" stroke-width="0.4" stroke-linejoin="round" d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z M 41.8929,46.0327C 40.9009,46.4197 40.0967,47.5376 40.0967,48.5296C 40.0967,49.5216 40.9009,50.0121 41.8929,49.6251C 42.8849,49.2381 43.6891,48.1202 43.6891,47.1282C 43.6891,46.1361 42.8849,45.6457 41.8929,46.0327 Z M 42.2521,31.5228C 39.0777,32.7612 36.5042,36.1777 36.5042,39.1538L 36.5042,39.8723L 40.0967,38.4708L 40.0967,37.3931C 40.0967,36.2027 41.0617,34.8612 42.2521,34.3968C 43.4425,33.9324 44.4076,34.5209 44.4076,35.7113C 44.4076,36.2305 44.4076,36.4298 42.9706,38.4274C 42.2521,39.4262 40.0967,41.7753 40.0967,44.2187L 40.0967,45.2964L 43.6891,43.895L 43.6891,42.458C 43.6891,41.2676 44.4076,40.0223 45.8445,38.7432C 47.2815,37.4641 48,35.3876 48,34.3099C 48,31.3338 45.4266,30.2844 42.2521,31.5228 Z "/></svg>');
    background-size: 180%;
    background-position: center;
}

    #helpButton:hover {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve">	<path fill="gray" fill-opacity="1" stroke-width="0.4" stroke-linejoin="round" d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z M 41.8929,46.0327C 40.9009,46.4197 40.0967,47.5376 40.0967,48.5296C 40.0967,49.5216 40.9009,50.0121 41.8929,49.6251C 42.8849,49.2381 43.6891,48.1202 43.6891,47.1282C 43.6891,46.1361 42.8849,45.6457 41.8929,46.0327 Z M 42.2521,31.5228C 39.0777,32.7612 36.5042,36.1777 36.5042,39.1538L 36.5042,39.8723L 40.0967,38.4708L 40.0967,37.3931C 40.0967,36.2027 41.0617,34.8612 42.2521,34.3968C 43.4425,33.9324 44.4076,34.5209 44.4076,35.7113C 44.4076,36.2305 44.4076,36.4298 42.9706,38.4274C 42.2521,39.4262 40.0967,41.7753 40.0967,44.2187L 40.0967,45.2964L 43.6891,43.895L 43.6891,42.458C 43.6891,41.2676 44.4076,40.0223 45.8445,38.7432C 47.2815,37.4641 48,35.3876 48,34.3099C 48,31.3338 45.4266,30.2844 42.2521,31.5228 Z "/></svg>');
    }

#controlGroup1 {
    width:100%;
}

#controlGroup2 {
    float:right;
}

#controlGroup2-inner {
    float:right;
    background-color:lightgray;
}

#WebGLWarningBox {
    float:right;
    background-color:lightgray;
    display:none;

    height:32px;
    line-height:32px;
}

#svgWarningIcon {
    margin: 5px;
    float: left;
    height:22px;
    width:22px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"> <path fill="#F4B300" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 38,22.1667C 41.1666,22.1667 57,52.25 55.4166,53.8333C 53.8333,55.4167 22.1667,55.4167 20.5833,53.8333C 19,52.25 34.8333,22.1667 38,22.1667 Z M 38,45.9167C 36.6883,45.9167 35.625,46.98 35.625,48.2917C 35.625,49.6034 36.6883,50.6667 38,50.6667C 39.3116,50.6667 40.375,49.6034 40.375,48.2917C 40.375,46.98 39.3116,45.9167 38,45.9167 Z M 35.625,31.6667L 36.4166,44.3333L 39.5833,44.3333L 40.375,31.6667L 35.625,31.6667 Z "/> </svg>');
    background-size: 180%;
    background-position: center;
}

#tabCap {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;

    float:right;
}

#tabCap-inner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    left: 0px;
    top: 0px;
    margin-right:-1px;
    border-top: 32px solid lightgray;
    border-left: 32px solid transparent;
}

#displayCanvas {
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;

    width:auto !important;
    height:auto !important;
}