html, body, #container {
    top:0;
    bottom:0;
    left:0;
    right:0;

    position:absolute
}

body {/*Main body element*/
    background-color: #000000;
    margin: 0px;
    font-family:Calibri;

    overflow:hidden;

    top:0;
    bottom:0;
}

h1 {
    font-size:xx-large;
}
h2 {
    font-size:x-large;
}

h3 {
    font-size:large;
}

h4 {
    font-size:medium;
}

h5 {
    font-size:small;
}

h6 {
    font-size:x-small;
}

a, a:visited {
    color:#1FAEFF;
}

.tableHeader-emphasized {
    font-weight:900 !important; 
    text-align:center !important;
}

#container {/*Three.js renderer container*/
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*button{
    font-size:larger;
    background-color:#BBBBBB;
    border:solid 1px black;
    border-radius:3px;
}

button:hover{
    background-color:#909090;
}

button:active{
    background-color:#707070;
}*/

#dataBoxContainer {
    /*vertical-align: bottom;*/
    margin-right: 150px;
    top: 30%;
    position: fixed;
    height: 100px;
    width: 100%;

    pointer-events:none;
}

#dataBox {
    /*position:static;*/
    /*bottom:300px;
    right:500px;*/
    float: right;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 20px;

    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: 0px;

    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 20px;

    height: 100px;
    width: 0px;

    text-align: center;
}

.dataBox-extended {
    height: 140px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 150px;
}

#dataBox-inner {
    width:150px;
    display:none;
}

#selectedName {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#selectedInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#helpDialog { /*JQuery UI dialog for displaying help content*/
    width: 500px;
    height: 1000px;
}

#helpDialog table {/*Table that contains the Census variables and their descriptions*/
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
    margin-bottom:30px;
}

#helpDialog table td, #helpDialog table th {/*Each cell in helpDialogs table*/
	border-top-color: white;
    
    border: 1px solid rgba(223,223,223,0.75);
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}

#helpDialog table th {/*Each header cell in helpDialogs table*/
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
#helpDialog table td {/*Each normal cell in helpDialogs table*/
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
    border: 1px solid #DFDFDF;
}

#fps{/*FPS counter*/
    color:white;
    width:100px;
    height:37px;
    position:fixed;
    text-align:left;
    vertical-align:bottom;
    font-size:2em;
    font-family:Calibri;
    bottom:0px; left:0px;
}

.code {/*Code style*/
    background-color:rgba(223,223,223,0.75);
    font-family:Consolas;
    display:inline;
    padding:2px;
}

#controlContainer {
    position:fixed;
    height:32px;
    width:100%;
    background-color:lightgray;
    border-top: 3px solid #666;
}

#mathBox { /*Data expression input box*/
    margin: 5px;
    float: left;
    width:99%;
    font-family:Consolas;
    
    /*transition-duration:0.5s;
}

#mathBox:focus {
    width:99%;*/
}

#geoType { /*Drop-down menu for geoType selection*/
    margin: 5px;
    float: left;
    width: 120px;
    height:22px;
}

#mathSubmit { /*Button for reloading the map*/
    margin: 5px;
    float: left;
    height: 22px;
    width:22px;
}

    #mathSubmit:hover {
        cursor: pointer;
    }

    #mathSubmit:hover #mathSubmitIcon {
        fill: gray;
    }

#helpButton { /*Button to open the help dialog*/
    margin: 5px;
    float: left;
    height:22px;
    width:22px;
}

    #helpButton:hover {
        cursor: pointer;
    }

    #helpButton:hover #helpButtonIcon {
        fill: gray;
    }

#controlGroup1 {
    width:100%;
}

#controlGroup2 {
    float:right;
}

#controlGroup2-inner {
    float:right;
    background-color:lightgray;
}

#WebGLWarningBox {
    float:right;
    background-color:lightgray;
    display:none;

    height:32px;
    line-height:32px;
}

#svgWarningIcon {
    margin: 5px;
    float: left;
    height:22px;
    width:22px;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" width="76" height="76" viewBox="0 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"> <path fill="#F4B300" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 38,22.1667C 41.1666,22.1667 57,52.25 55.4166,53.8333C 53.8333,55.4167 22.1667,55.4167 20.5833,53.8333C 19,52.25 34.8333,22.1667 38,22.1667 Z M 38,45.9167C 36.6883,45.9167 35.625,46.98 35.625,48.2917C 35.625,49.6034 36.6883,50.6667 38,50.6667C 39.3116,50.6667 40.375,49.6034 40.375,48.2917C 40.375,46.98 39.3116,45.9167 38,45.9167 Z M 35.625,31.6667L 36.4166,44.3333L 39.5833,44.3333L 40.375,31.6667L 35.625,31.6667 Z "/> </svg>');
    background-size: 180%;
    background-position: center;
}

#tabCap {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;

    float:right;
}

#tabCap-inner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    left: 0px;
    top: 0px;
    margin-right:-1px;
    border-top: 32px solid lightgray;
    border-left: 32px solid transparent;
}

#displayCanvas {
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;

    width: 100% !important;
    height: 100% !important;
}